.bookmark{
    width: 100%;
    margin-top: 2.2em;
}
.container_img {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 450px;
}
.container_img img:first-child {
    width: 100%;
    display: block;
}
.image_ab {
    position: absolute;
    width: 112%;
    right: -7em;
    bottom: -1em;
    z-index: -1;
    pointer-events: none;
}
.div_cont{
    max-width: 430px;
    width: 90%;
}
.div_cont h1{
    font-size: 1.87em;
    line-height: 1.33em;
}
.btn_gray:hover{
    border: 1px solid black !important;
}

.div_cont p{
    margin-top: 0.2em;
    font-size: 0.96em;
    line-height: 1.6em;
}

@media(min-width: 576px){
    .container_img{
        margin-left: auto;
    }
}
@media(min-width:992px){

    .bookmark{
        margin-top: 5em;
        flex-direction: row-reverse !important;
        justify-content: space-between !important;
        align-items: flex-start !important;
    }
    p{
    font-size: 1.12em;
    margin-top: 1.2em;
    }
    .div_cont{
        margin: 0% !important;
    }
    .container_img {
    position: relative;
    margin-left:0%;
    left: 5em;
    max-width: 500px;
}
  .div_cont  p{
        margin-top: 0.5em;
        line-height: 1.5em;
            font-size: 1.1em;

    }
    

   
}
@media(min-width:1200px){
    .bookmark{
       margin-top: 5.5em;
    }
    .div_cont h1{
        font-size: 2.8em;
        line-height: 1.1em;
        padding-top: 0.5em;
    }
   
    .container_img {
        max-width: 470px;
    }

   
}
    
@media(min-width: 1400px){

    .div_cont{
    max-width: 490px;
    }
    .div_cont h1{
    font-size: 2.9em;
    margin-top: 1.3em;
    }
  
    .container_img {
        max-width: 550px;
        left: 0.9em;

    }
    .image_ab {
        width: 124%;
        right: -21em; 
        bottom: -2em;     
    }
    .container_img img:first-child {
    width: auto;
    display: block;
    }

   
}


