.contact{
    background-color: var(--Blue_600);
    margin-top: 7.5em;
    width: 100%;
    color: #ffffff;
    padding: 4.5em 2em;
    padding-bottom: 3.4em;

}
.container_contactP{
    max-width: 500px;
}
.contact p{
    opacity: 1;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.33em;
}

.emailRed{
    box-shadow: 0px 0px 20px 8px rgba(199, 30, 30, 0.429);
    background-color: var(--Red_400);
}
.emailRed input ,.emailRed input::placeholder{
    color: var(--Red_400);
}
.emailG{
    background-color:  rgb(82, 156, 82);
    box-shadow: 0px 0px 20px 8px rgba(88, 198, 74, 0.424);
}
.emailG input , .emailG input::placeholder {
    color:  rgb(82, 156, 82);
}
.container_contact > .email{
    border-radius: 5px;
    padding: 0.2em;
    overflow: hidden;
    width: 100%;
    height:80px;
}
.email > p{
    text-transform: none;
    letter-spacing: normal !important;
    color: white;
    text-align: start;
    margin: 0.1em !important;
    margin-left: 1em !important;
    font-style: italic;
}
.container_contact .email .input{
    border-radius: 5px;
}

.container_contact  .but_contact{
    background-color: var(--Red_400) !important;
    color: white !important;
    height: 50px !important;
    margin-top: 0.2em;


}
.container_contact .email::placeholder{
    font-size: 0.9em;
    color: rgba(128, 128, 128, 0.405);
}
.input input{
    border: none !important;
    padding: 0.8em 0.4em;
}
.image_error{
    width: 25px;
    height: 27px;
}
@media (min-width:768px) {
    .contact{
    padding: 3.1em 2em !important;
    margin-top: 9.4em;
    padding-bottom: 3.2em !important;

}
.container_contactP{
    gap: 2em !important;
}
.contact p{
    font-size: 0.86em;
    letter-spacing: 0.35em;
    margin-bottom: 2.6em !important;
}
.email > p{
    margin-bottom: 0% !important;
}
.container_contact  .but_contact{
    width: 130px !important;
}
.container_contact > .email{
    width: 60% !important;
}
.container_contact > .email .input{
    width: 99%;
}
}