.sec_ext{
    width: 90%;
    margin: auto;
    margin-top: 8.5em;
}
.container_cards{
    margin-top: 2em;
}
.card{
    width: 90%;
    max-width: 280px;
    gap: 1.2em;
    border: none !important;
    box-shadow: 0px 8px 8px 4px hsla(231, 69%, 60%, 0.045);
    border-radius: 15px;
}
.card .card_but{
    margin-top: 0.5em;
 width: 83% !important;
}
.card h3{
    font-size: 1.27em !important;
}
.card p{
    font-size: 0.9em !important;
}
.sec_ext > div > p {
    max-width: 550px;
    margin: auto;
}
@media (min-width : 1148px)
{
 
   
    .sec_ext > div > p {
        margin-top: 0.4em;
    }
    .sec_ext .container_cards{
        gap: 2.2em !important;
        margin-top: 2em !important;
    }
    .sec_ext{
        margin-top: 12em;
        width: 100%;

}
}
@media (min-width:1200px) {
    .div_2{
        margin-top: 4em;
    }
    .div_3{
        margin-top:8em;
    }
     .sec_ext{
        margin-top: 15em;

}
    
}