.questions{
    width: 90%;
    max-width: 540px;
    margin-top: 8.4em;
}
.questions .but_questions{
    width: 117px !important;
}
.itens_questions p{
    padding-top: 0em !important;
    opacity: 1;
    font-size: 0.94em;
}
.itens_questions >p{
    opacity: 0.7;
}
.itens_questions{
    border-bottom: 1px solid rgba(128, 128, 128, 0.434);
}

.iconsQuestions{
    color: var(--Blue_600);
}
.iconQuestions{
    color: var(--Red_400);
}
.iconQuestions , .iconsQuestions{
     font-size: 1.4em;
    cursor: pointer;
}

@media (min-width: 768px) {
    .itens_questions p{
    font-size: 1.1em;
}
.boder_itens > .itens_questions:first-child {
    border-top: 1px solid rgba(128, 128, 128, 0.434);
    padding-top: 1em !important;
}

.itens_questions >p{
        font-size: 1em;
}
.questions{

    margin-top: 9.7em;
}
}
@media (min-width:992px) {
    .boder_itens > .itens_questions:first-child {
    padding-top: 0.3em !important;
}

}