.items_cart{
    margin-top: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    text-align:center;
    padding: 1.4em 0%;
}
.items_cart p{
    color: var(--Rose_400);
    font-weight: 600;
    font-size: 0.9em;
}
.YourCart{
    font-size: 1.6em;
    color: var(--Red);
    margin-bottom: 0.1em;
}
.order_total_div{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_total_div h4{
    font-weight: 400;
}
.order_total_div span{
    font-size: 1.8em;
    font-weight: 700;
}

.carbon-Neutral{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    gap: 1em;
    background-color: var(--Rose_50);
    border: 1px solid var(--Rose_50);
    margin-top: 1.3em;
    min-width: 100%;
    padding: 1em;
    border-radius: 8px;
}
.carbon-Neutral strong{
    font-weight: 700;
}

@media (min-width:700px) {
    .items_cart p{
        font-size: 1em;
}
.carbon-Neutral{
    font-size: 1em;

}}

@media (min-width:1800px) {
.items_cart p{
    font-size: 1.1em;
}
.order_total_div{
    margin-top: 1.8em;
}
.YourCart{
    margin-bottom: 1.6em;
}
}

