.step{
    background-color: transparent;
    color: var(--White);
    border: 1px solid var(--Blue_50);
    padding: 7px 12px;
    border-radius: 50%;
    font-size: 0.9em;
    font-weight:500;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.105);
}
.active{
    color: var(--Blue_950);
    background-color: var(--Blue_200);
}
.inativo{
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.422);
}
.containerStep{
    display: flex;
    background-image: url("../../../public/assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 140px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;
    gap: 1em;
}
.invis{
    display: none;
}

@media (min-width: 576px) {
    .step{
    padding: 9px 14px;
}
.containerStep{
    gap: 1.4em;
}
}
@media (min-width: 768px) {
  .containerStep{
    width: 35%;
    max-width: 280px !important;
    min-height: 100%;
    background-image: url("../../../public/assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 2.5em 1em 3em 2em;
    border-radius: 12px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2em;
  }
.step{
    padding: 9px 14px !important;
    font-size: 1em;
}
.invis{
    display: block;
}
.row_large{
    display: flex;
    align-items: center;
    gap: 1em;
}
}
.invis span, .invis p{
    text-transform: uppercase;
    color: var(--White);
    font-size: 0.8em;
    font-weight: 400;
}
.invis p{
    color: var(--White);
    font-size: 0.9em;
    font-weight: 700;
}

@media (min-width:1600px) {
    .step{
    padding: 10px 15px !important;
    font-size: 1.1em;
}
}