.card{
    background-color: var(--White);
    text-decoration: none;
    color: var(--Grey_950);
    width: 100%;    
    border-radius: 5px;
    max-width: 255px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.071);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.03);
}
:global(body.darkMode) .card {
    background-color: var(--Blue_900);
    color: var(--White);
    border: 1px solid rgba(255, 255, 255, 0.047);
}
.imagem{
    height: 162px;
    width: 100%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}
.title{
    font-weight: 600;
    font-size: 0.8em;
}
.name{
    font-weight: 800;
    font-size: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.4em;
}
.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: 1.2em 1.5em 2.4em 1.2em;
}

@media (min-width: 1400px) {
    .text{
    padding: 1.2em 1.5em 0.7em 1.5em;
}
}