.header{
    background-color: var(--White);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.038);
}
.header .div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1.9em 0em;
    width: 91%;
}
:global(body.darkMode) .header {
    background-color: var(--Blue_900);
    color: var(--White);
}
.header h1{
    font-size: 0.87em;
}
button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-size: 0.9em;
    color: var(--Grey_950);
}
span{
    font-size: 0.85em;
    font-family: var(--font-family);
    font-weight: 600;
}
:global(body.darkMode) button{
    color: var(--White);
}
@media (min-width: 576px){
    .header h1{
        font-size: 1.1em;
    }
    button{
        font-size: 1.2em;
    }
}
@media (min-width: 768px){
      .header h1{
        font-size: 1.4em;
    }
    .header .div{
        width: 89%;
        padding: 1.4em 0em;

    }
}

@media (min-width:1550px){
 .header .div{
        width: 80%;
    }
}
@media (min-width:1800px){
 .header .div{
        width: 70%;
    }
}
/*
@media (min-width: 992px){
    
}
@media (min-width: 1200px){
    
}
@media (min-width: 1400px){
    
}
@media (min-width: 1500px){
    
}*/