.container5{
    padding: 3em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    text-align: center;
}
.container5 img{
    width: 60px;
    margin-bottom: 0.4em;
}
.container5 h2{
    font-size: 1.5em;
}
.container5 p{
    line-height: 1.6em;
}
@media (min-width:768px) {
    .container5 h2{
    font-size: 1.9em;
}
    .container5{
         gap: 1em;
         position: absolute;
         width: 100%;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
    }
    .container5 img{
    width: 75px;
}
}