
.button_style{
    padding: 0.9em 1.2em;
    color: var(--White);
    background-color: var(--Blue_950);
    border: none;
    border-radius: 6px;
    font-weight: 500;
    letter-spacing: 0.07em;
    cursor: pointer;
}
.button_style:hover{
    opacity: 0.9;
}
.estiloEspecial{
    background-color: transparent !important;
    color: var(--Grey_500);
    font-weight: 700;
    cursor: pointer;
}
.estiloEspecial:hover{
    color: var(--Blue_950);
}
.isDisabled{
     background-color:  hsl(212, 34%, 25%);
}
.confirm_button:hover{
    background-color: var(--Purple_600);
}
.justify_button{
    justify-content: space-between;
}
.section_end{
    justify-content: flex-end;
}
.section_but{
    display: flex;
    align-items: center;
    min-width: 200px;
}
.go_none{
    display: none ;
}
@media (min-width: 768px) {
    .go_none{
        display: flex ;
        margin-top: 2em;
    }
    .section_but{
    padding: 0em;
    } 
    .button_style{
        padding: 1em 1.3em;
    }
}
@media (min-width:992px) {
   
      .button_style{
        padding: 0.8em 1.3em;
        font-size: 1em;
    }
}