.label{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.red{
    color: var(--Red_500);
     border: 1px solid  var(--Red_500) !important;
}
.error{
    color: var(--Red_500);
}
.label label{
    display: flex;
    justify-content: space-between;
}