@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');

:root{
--Red: hsl(14, 86%, 42%);
--Green: hsl(159, 69%, 38%);
--Rose_50: hsl(20, 50%, 98%);
--Rose_100: hsl(13, 31%, 94%);
--Rose_300: hsl(14, 25%, 72%);
--Rose_400: hsl(7, 20%, 60%);
--Rose_500: hsl(12, 20%, 44%);
--Rose_900: hsl(14, 65%, 9%);

--Font:'Red Hat Text', sans-serif; 
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
 width: 100vw;
 height: 100vh;
}
body{
  font-family: var(--Font);
  font-size: 16px;
  color: var(--Rose_900);
  background-color: var(--Rose_100);
  font-weight: 400;
}
.button_confirm{
    width: 100%;
    border-radius: 3em;
    padding: 15px;
    border: none;
    background-color: var(--Red);
    margin-top: 1.2em;
    color: var(--Rose_50);
    letter-spacing: 0.1em;
    font-size: 1em;
    cursor: pointer;
}
.button_confirm:hover{
  background-color: hsl(15, 86%, 33%);
}

footer{
  padding: 10px;
  text-align: center;
  margin-top: 0.9em;

}
footer p a{
 color: var(--Green);
 font-weight: 600;
 text-decoration: none;
}