@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root {
  /* Neutral */
  --color1: hsl(227, 75%, 14%);  /* Neutral 900 */
  --color2: hsl(226, 25%, 17%);  /* Neutral 800 */
  --color3: hsl(225, 23%, 24%);  /* Neutral 700 */
  --color4: hsl(226, 11%, 37%);  /* Neutral 600 */
  --color5: hsl(0, 0%, 78%);     /* Neutral 300 */
  --color6: hsl(217, 61%, 90%);  /* Neutral 200 */
  --color7: hsl(0, 0%, 93%);     /* Neutral 100 */
  --color8: rgb(251, 253, 254);  /* Neutral 0 */

  /* Red */
  --color9: hsl(3, 86%, 64%);    /* Red 400 */
  --color10: hsl(3, 71%, 56%);   /* Red 500 */
  --color11: hsl(3, 77%, 44%);   /* Red 700 */

  /* Gradients */
  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #040e2a 50%, #091540 100%);
  --font: "Noto Sans", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-image: var(--gradient-light);
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--font);
}
header{
    width: 90%;
    margin: auto;
    margin-top: 3em;
    background-color: var(--color8);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
}
#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em;
}
#chanceModo{
    background-color: var(--color7);
    border: none;
    border: 1px solid var(--color8);
    padding: 1em;
    border-radius: 15px;
    box-shadow: inset 2px 4px 1px 1px rgba(0, 0, 0, 0.228);
    cursor: pointer;
    transition: 0.1s ease;
}
#chanceModo:hover, nav ul li:hover,.remove{
    transform: scale(1.1);
}
.ativo:hover{
    background-color: var(--color9);
}
.inativo:hover{
    color: var(--color5);
}
.remove:hover{
    background-color: var(--color10);
    color: var(--color8);
    border:1px solid var(--color11)
}
h1{
    color: var(--color1);
}
main{
    margin-top: 4rem;
    flex: 1;
}
#first_sec{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    gap: 1em;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 0.8rem;
}
nav ul li{
    background-color: var(--color8);
    border-radius: 20px;
    padding: 0.6em 1.3em;
    border: 1px solid var(--color6);
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.028);
    cursor: pointer;
    transition: 0.2s ease;
}
.oculto{
    display: none;
}
#second_sec{
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1em;
}
#second_sec article{
    width: 90%;
    max-width: 397px;
    min-height: 200px;
    border-radius: 20px;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color8);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.285);
}
.info{
    display: flex;
    align-items: flex-start;
    gap: 1em;
}
 h2{
    color: var(--color1);
    margin-bottom: 5px;
    font-size: 1.3em;
}
p{
    line-height: 1.4em;
    color: rgb(89, 87, 87);
}
.icons .icon1:hover{
   color: var(--color9);
}
.icons .icon2:hover{
   color: var(--color7);
}
.actions{
    margin-top: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remove{
    color: var(--color1);
    background-color: transparent;
    padding: 0.7rem 1.5em;
    border-radius: 20px;
    font-weight: 500;
    border: 1px solid var(--color5);
    cursor:pointer;
    box-shadow: 3px 2px 1px 1px rgba(0, 0, 0, 0.025);
}
.icons>i{
    cursor: pointer;
    font-size: 40px;
    color:var(--color11);
}
.icons .icon2{
    color:var(--color5);
}
footer{
    margin-top: 3rem;
    padding: 10px;
}
.attribution { 
    font-size: 14px; 
    text-align: center; 
    color: black; 

}
.attribution a { 
    color: var(--color1); 
    text-decoration: none;
}
.modoEscuro{
    background-image: var(--gradient-dark);
}
.modoEscuro header{
    background-color: var(--color2);
    color: var(--color8);
}
.modoEscuro #chanceModo{
    background-color: var(--color3);
    border: 1px solid var(--color3);
}
.modoEscuro h1{
    color: var(--color8);
}
.modoEscuro #second_sec article{
    background-color: var(--color2);
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.476);
}
.ativo{
    color: var(--color8);
    background-color:var(--color10) ;
    border: 1px solid var(--color11);
    text-shadow: 2px 1px 1px  rgba(0, 0, 0, 0.409);
}
.modoEscuro .inativo{
    background-color: var(--color3) !important; 
    color: var(--color5);
    border: 1px solid rgba(255, 255, 255, 0.43);
}
.modoEscuro .inativo:hover, .modoEscuro #chanceModo:hover{
    background-color: var(--color4) !important ; 
}
.modoEscuro #second_sec article h2,.modoEscuro #second_sec article .remove{
    color: var(--color8);
}
.modoEscuro .icon1{
    color: var(--color9) !important;
}
.modoEscuro #second_sec article p{
    color: var(--color5);
}
.modoEscuro .attribution,.modoEscuro .attribution a {
    color: var(--color8);
}
.cardRemovido{
    background-color: var(--color7)!important;
}
.modoEscuro .cardRemovido{
    background-color: var(--color3) !important;
}
@media (min-width:674px){
    #first_sec{
        justify-content: space-between;
    }

    #second_sec article{
         height: 220px;

    }
}
@media (min-width: 768px) {
    header,#first_sec,#second_sec{
        width: 85%;
    }
}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {
}

