.footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: var(--Purple_300);
    border-top: 1px solid white;
    text-align: center;
    padding: 0.4em ;
    padding-top: 0.7em ;
    font-size: 0.8em;
}
:global(body.dark) .footer{
    border-top: 1px solid var(--Purple_700);
    color: var(--Purple_300);
    background-color: var(--Navy_900);
}
:global(body.dark) .footer a{
    color: var(--Purple_100);
}